Repository AHaumer/ModelicaStandardLibrary, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, L: Blocks, L: C-Sources, L: Clocked, L: Complex*, L: Constants, L: Electrical.Analog, L: Electrical.Batteries, L: Electrical.Digital, L: Electrical.Machines, L: Electrical.Polyphase, L: Electrical.PowerConverters, L: Electrical.QuasiStatic, L: Electrical.Spice3, L: Fluid.Dissipation, L: Fluid, L: Icons, L: Magnetic.FluxTubes, L: Magnetic.FundamentalWave, L: Magnetic.QuasiStatic, L: Math, L: Mechanics.MultiBody, L: Mechanics.Rotational, L: Mechanics.Translational, L: Media, L: ModelicaReference, L: ModelicaServices, L: ModelicaTest, L: ObsoleteModelica, L: Resources, L: SIunits, L: StateGraph, L: Thermal.FluidHeatFlow, L: Thermal.HeatTransfer, L: Utilities

.github/labeler.yml:

CI:
  - .github/**/*
  - .travis.*
  - CONTRIBUTING.md

"L: Blocks":
  - Modelica/Blocks/*

"L: C-Sources":
  - Modelica/Resources/C-Sources/**/*

"L: Clocked":
 - Modelica/Clocked/*

"L: Complex*":
  - Complex.mo
  - Modelica/ComplexBlocks.mo
  - Modelica/ComplexMath.mo

"L: Constants":
  - Modelica/Constants.mo

"L: Electrical.Analog":
  - Modelica/Electrical/Analog/**/*

"L: Electrical.Batteries":
  - Modelica/Electrical/Batteries/**/*

"L: Electrical.Digital":
  - Modelica/Electrical/Digital.mo

"L: Electrical.Machines":
  - Modelica/Electrical/Machines.mo

"L: Electrical.Polyphase":
  - Modelica/Electrical/Polyphase/**/*

"L: Electrical.PowerConverters":
  - Modelica/Electrical/PowerConverters/**/*

"L: Electrical.QuasiStatic":
  - Modelica/Electrical/QuasiStatic/**/*

"L: Electrical.Spice3":
  - Modelica/Electrical/Spice3.mo

"L: Fluid.Dissipation":
  - Modelica/Fluid/Dissipation.mo

"L: Fluid":
  - Modelica/Fluid/Fittings.mo
  - Modelica/Fluid/Interfaces.mo
  - Modelica/Fluid/Machines.mo
  - Modelica/Fluid/package.mo
  - Modelica/Fluid/package.order
  - Modelica/Fluid/Pipes.mo
  - Modelica/Fluid/Sensors.mo
  - Modelica/Fluid/Sources.mo
  - Modelica/Fluid/System.mo
  - Modelica/Fluid/Types.mo
  - Modelica/Fluid/Utilities.mo
  - Modelica/Fluid/Valves.mo
  - Modelica/Fluid/Vessels.mo

"L: Icons":
  - Modelica/Icons.mo

"L: Magnetic.FluxTubes":
  - Modelica/Magnetic/FluxTubes/**/*

"L: Magnetic.FundamentalWave":
  - Modelica/Magnetic/FundamentalWave/**/*

"L: Magnetic.QuasiStatic":
  - Modelica/Magnetic/QuasiStatic/**/*

"L: Math":
  - Modelica/Math/*

"L: Mechanics.MultiBody":
  - Modelica/Mechanics/MultiBody/**/*

"L: Mechanics.Rotational":
  - Modelica/Mechanics/Rotational.mo

"L: Mechanics.Translational":
  - Modelica/Mechanics/Translational.mo

"L: Media":
  - Modelica/Media/**/*

"L: ModelicaReference":
  - ModelicaReference/**/*

"L: ModelicaServices":
  - ModelicaServices/**/*

"L: ModelicaTest":
  - ModelicaTest/**/*
  - ModelicaTestConversion4.mo
  - ModelicaTestOverdetermined.mo

"L: ObsoleteModelica":
  - ObsoleteModelica4.mo

"L: Resources":
  - Modelica/Resources/BuildProjects/**/*
  - Modelica/Resources/Data/**/*
  - Modelica/Resources/Documentation/**/*
  - Modelica/Resources/Images/**/*
  - Modelica/Resources/Library/**/*
  - Modelica/Resources/ReleaseNotes/**/*
  - Modelica/Resources/Scripts/**/*

"L: SIunits":
  - Modelica/SIunits.mo

"L: StateGraph":
  - Modelica/StateGraph.mo

"L: Thermal.FluidHeatFlow":
  - Modelica/Thermal/FluidHeatFlow/**/*

"L: Thermal.HeatTransfer":
  - Modelica/Thermal/HeatTransfer/**/*

"L: Utilities":
  - Modelica/Utilities/*

sketch of polyphase line model
  Modelica/Electrical/Polyphase/Examples/ShowLine.mo
  Modelica/Electrical/Polyphase/Examples/package.order
  Modelica/Electrical/Polyphase/Lines/Line.mo
  Modelica/Electrical/Polyphase/Lines/ShortLine.mo
  Modelica/Electrical/Polyphase/Lines/package.mo
  Modelica/Electrical/Polyphase/Lines/package.order
  Modelica/Electrical/Polyphase/package.order
Labels: L: Electrical.Polyphase

Icon: use common color of "signal" line and delete "w"
  Modelica/Blocks/Math.mo
Labels: L: Blocks

Documentation: minor corrections
  Modelica/Blocks/Math.mo
Labels: L: Blocks

Prepare CI by reducing size of reference results of Magnetic.QuasiStatic.FundamentalWave
  Modelica/Magnetic/QuasiStatic/FundamentalWave/Examples/BasicMachines/InductionMachines/IMC_withLosses.mo
  Modelica/Resources/Reference/Modelica/Magnetic/QuasiStatic/FundamentalWave/Examples/BasicMachines/InductionMachines/IMC_Conveyor/comparisonSignals.txt
  Modelica/Resources/Reference/Modelica/Magnetic/QuasiStatic/FundamentalWave/Examples/BasicMachines/InductionMachines/IMC_Initialize/comparisonSignals.txt
  Modelica/Resources/Reference/Modelica/Magnetic/QuasiStatic/FundamentalWave/Examples/BasicMachines/InductionMachines/IMC_Transformer/comparisonSignals.txt
  Modelica/Resources/Reference/Modelica/Magnetic/QuasiStatic/FundamentalWave/Examples/BasicMachines/InductionMachines/IMC_YD/comparisonSignals.txt
  Modelica/Resources/Reference/Modelica/Magnetic/QuasiStatic/FundamentalWave/Examples/BasicMachines/SynchronousMachines/SMEE_Generator/comparisonSignals.txt
  Modelica/Resources/Reference/Modelica/Magnetic/QuasiStatic/FundamentalWave/Examples/BasicMachines/SynchronousMachines/SMPM_CurrentSource/comparisonSignals.txt
  ModelicaTest/Magnetic/QuasiStatic/FundamentalWave/Examples/BasicMachines/InductionMachines/IMC_Conveyor.mo
  ModelicaTest/Magnetic/QuasiStatic/FundamentalWave/Examples/BasicMachines/InductionMachines/IMC_Initialize.mo
  ModelicaTest/Magnetic/QuasiStatic/FundamentalWave/Examples/BasicMachines/InductionMachines/IMC_Transformer.mo
  ModelicaTest/Magnetic/QuasiStatic/FundamentalWave/Examples/BasicMachines/InductionMachines/IMC_YD.mo
  ModelicaTest/Magnetic/QuasiStatic/FundamentalWave/Examples/BasicMachines/InductionMachines/package.mo
  ModelicaTest/Magnetic/QuasiStatic/FundamentalWave/Examples/BasicMachines/InductionMachines/package.order
  ModelicaTest/Magnetic/QuasiStatic/FundamentalWave/Examples/BasicMachines/SynchronousMachines/SMEE_Generator.mo
  ModelicaTest/Magnetic/QuasiStatic/FundamentalWave/Examples/BasicMachines/SynchronousMachines/SMPM_CurrentSource.mo
  ModelicaTest/Magnetic/QuasiStatic/FundamentalWave/Examples/BasicMachines/SynchronousMachines/package.mo
  ModelicaTest/Magnetic/QuasiStatic/FundamentalWave/Examples/BasicMachines/SynchronousMachines/package.order
  ModelicaTest/Magnetic/QuasiStatic/FundamentalWave/Examples/BasicMachines/package.mo
  ModelicaTest/Magnetic/QuasiStatic/FundamentalWave/Examples/BasicMachines/package.order
  ModelicaTest/Magnetic/QuasiStatic/FundamentalWave/Examples/package.mo
  ModelicaTest/Magnetic/QuasiStatic/FundamentalWave/Examples/package.order
  ModelicaTest/Magnetic/QuasiStatic/FundamentalWave/package.mo
  ModelicaTest/Magnetic/QuasiStatic/FundamentalWave/package.order
  ModelicaTest/Magnetic/QuasiStatic/package.order
  ModelicaTest/Resources/Reference/ModelicaTest/Magnetic/QuasiStatic/FundamentalWave/Examples/BasicMachines/InductionMachines/IMC_Conveyor/comparisonSignals.txt
  ModelicaTest/Resources/Reference/ModelicaTest/Magnetic/QuasiStatic/FundamentalWave/Examples/BasicMachines/InductionMachines/IMC_Initialize/comparisonSignals.txt
  ModelicaTest/Resources/Reference/ModelicaTest/Magnetic/QuasiStatic/FundamentalWave/Examples/BasicMachines/InductionMachines/IMC_Transformer/comparisonSignals.txt
  ModelicaTest/Resources/Reference/ModelicaTest/Magnetic/QuasiStatic/FundamentalWave/Examples/BasicMachines/InductionMachines/IMC_YD/comparisonSignals.txt
  ModelicaTest/Resources/Reference/ModelicaTest/Magnetic/QuasiStatic/FundamentalWave/Examples/BasicMachines/SynchronousMachines/SMEE_Generator/comparisonSignals.txt
  ModelicaTest/Resources/Reference/ModelicaTest/Magnetic/QuasiStatic/FundamentalWave/Examples/BasicMachines/SynchronousMachines/SMPM_CurrentSource/comparisonSignals.txt
  ModelicaTest/package.order
Labels: L: Magnetic.QuasiStatic, L: ModelicaTest

using extends instead of copy-paste
  ModelicaTest/Magnetic/QuasiStatic/FundamentalWave/Examples/BasicMachines/InductionMachines/IMC_Conveyor.mo
  ModelicaTest/Magnetic/QuasiStatic/FundamentalWave/Examples/BasicMachines/InductionMachines/IMC_Initialize.mo
  ModelicaTest/Magnetic/QuasiStatic/FundamentalWave/Examples/BasicMachines/InductionMachines/IMC_Transformer.mo
  ModelicaTest/Magnetic/QuasiStatic/FundamentalWave/Examples/BasicMachines/InductionMachines/IMC_YD.mo
  ModelicaTest/Magnetic/QuasiStatic/FundamentalWave/Examples/BasicMachines/SynchronousMachines/SMEE_Generator.mo
  ModelicaTest/Magnetic/QuasiStatic/FundamentalWave/Examples/BasicMachines/SynchronousMachines/SMPM_CurrentSource.mo
Labels: L: ModelicaTest

adapted documentation of the examples in ModelicaTest
  ModelicaTest/Electrical/PowerConverters/Examples/ACAC/Dimmer_R.mo
  ModelicaTest/Electrical/PowerConverters/Examples/ACAC/Dimmer_RL.mo
  ModelicaTest/Electrical/PowerConverters/Examples/ACAC/SoftStarter.mo
  ModelicaTest/Electrical/PowerConverters/Examples/ACDC/Rectifier1Pulse/Thyristor1Pulse_R_Characteristic.mo
  ModelicaTest/Electrical/PowerConverters/Examples/ACDC/RectifierBridge2Pulse/ThyristorBridge2Pulse_DC_Drive.mo
  ModelicaTest/Electrical/PowerConverters/Examples/ACDC/RectifierBridge2Pulse/ThyristorBridge2Pulse_RLV_Characteristic.mo
  ModelicaTest/Electrical/PowerConverters/Examples/ACDC/RectifierBridge2mPulse/ThyristorBridge2mPulse_DC_Drive.mo
  ModelicaTest/Electrical/PowerConverters/Examples/ACDC/RectifierBridge2mPulse/ThyristorBridge2mPulse_RLV_Characteristic.mo
  ModelicaTest/Electrical/PowerConverters/Examples/ACDC/RectifierCenterTap2Pulse/ThyristorCenterTap2Pulse_RLV_Characteristic.mo
  ModelicaTest/Electrical/PowerConverters/Examples/ACDC/RectifierCenterTap2mPulse/ThyristorCenterTap2mPulse_RLV_Characteristic.mo
  ModelicaTest/Electrical/PowerConverters/Examples/ACDC/RectifierCenterTapmPulse/ThyristorCenterTapmPulse_RLV_Characteristic.mo
  ModelicaTest/Electrical/PowerConverters/Examples/DCDC/HBridge/HBridge_DC_Drive.mo
Labels: L: ModelicaTest

adapted documentation in ModelicaTest
  ModelicaTest/Magnetic/QuasiStatic/FundamentalWave/Examples/BasicMachines/InductionMachines/IMC_Conveyor.mo
  ModelicaTest/Magnetic/QuasiStatic/FundamentalWave/Examples/BasicMachines/InductionMachines/IMC_Initialize.mo
  ModelicaTest/Magnetic/QuasiStatic/FundamentalWave/Examples/BasicMachines/InductionMachines/IMC_Transformer.mo
  ModelicaTest/Magnetic/QuasiStatic/FundamentalWave/Examples/BasicMachines/InductionMachines/IMC_YD.mo
  ModelicaTest/Magnetic/QuasiStatic/FundamentalWave/Examples/BasicMachines/SynchronousMachines/SMEE_Generator.mo
  ModelicaTest/Magnetic/QuasiStatic/FundamentalWave/Examples/BasicMachines/SynchronousMachines/SMPM_CurrentSource.mo
Labels: L: ModelicaTest

removed documentation completely from the "extended" ModelicaTest - examples
  ModelicaTest/Electrical/PowerConverters/Examples/ACAC/Dimmer_R.mo
  ModelicaTest/Electrical/PowerConverters/Examples/ACAC/Dimmer_RL.mo
  ModelicaTest/Electrical/PowerConverters/Examples/ACAC/SoftStarter.mo
  ModelicaTest/Electrical/PowerConverters/Examples/ACDC/Rectifier1Pulse/Thyristor1Pulse_R_Characteristic.mo
  ModelicaTest/Electrical/PowerConverters/Examples/ACDC/RectifierBridge2Pulse/ThyristorBridge2Pulse_DC_Drive.mo
  ModelicaTest/Electrical/PowerConverters/Examples/ACDC/RectifierBridge2Pulse/ThyristorBridge2Pulse_RLV_Characteristic.mo
  ModelicaTest/Electrical/PowerConverters/Examples/ACDC/RectifierBridge2mPulse/ThyristorBridge2mPulse_DC_Drive.mo
  ModelicaTest/Electrical/PowerConverters/Examples/ACDC/RectifierBridge2mPulse/ThyristorBridge2mPulse_RLV_Characteristic.mo
  ModelicaTest/Electrical/PowerConverters/Examples/ACDC/RectifierCenterTap2Pulse/ThyristorCenterTap2Pulse_RLV_Characteristic.mo
  ModelicaTest/Electrical/PowerConverters/Examples/ACDC/RectifierCenterTap2mPulse/ThyristorCenterTap2mPulse_RLV_Characteristic.mo
  ModelicaTest/Electrical/PowerConverters/Examples/ACDC/RectifierCenterTapmPulse/ThyristorCenterTapmPulse_RLV_Characteristic.mo
  ModelicaTest/Electrical/PowerConverters/Examples/DCDC/HBridge/HBridge_DC_Drive.mo
Labels: L: ModelicaTest

removed documentation completely from the "extended" ModelicaTest - examples
  ModelicaTest/Magnetic/QuasiStatic/FundamentalWave/Examples/BasicMachines/InductionMachines/IMC_Conveyor.mo
  ModelicaTest/Magnetic/QuasiStatic/FundamentalWave/Examples/BasicMachines/InductionMachines/IMC_Initialize.mo
  ModelicaTest/Magnetic/QuasiStatic/FundamentalWave/Examples/BasicMachines/InductionMachines/IMC_Transformer.mo
  ModelicaTest/Magnetic/QuasiStatic/FundamentalWave/Examples/BasicMachines/InductionMachines/IMC_YD.mo
  ModelicaTest/Magnetic/QuasiStatic/FundamentalWave/Examples/BasicMachines/SynchronousMachines/SMEE_Generator.mo
  ModelicaTest/Magnetic/QuasiStatic/FundamentalWave/Examples/BasicMachines/SynchronousMachines/SMPM_CurrentSource.mo
Labels: L: ModelicaTest

Switch annotation to match consensus of MAPLib meeting on 2026-05-12.
  ModelicaTest/Electrical/PowerConverters/Examples/ACAC/Dimmer_R.mo
  ModelicaTest/Electrical/PowerConverters/Examples/ACAC/Dimmer_RL.mo
  ModelicaTest/Electrical/PowerConverters/Examples/ACAC/SoftStarter.mo
  ModelicaTest/Electrical/PowerConverters/Examples/ACDC/Rectifier1Pulse/Thyristor1Pulse_R_Characteristic.mo
  ModelicaTest/Electrical/PowerConverters/Examples/ACDC/RectifierBridge2Pulse/ThyristorBridge2Pulse_DC_Drive.mo
  ModelicaTest/Electrical/PowerConverters/Examples/ACDC/RectifierBridge2Pulse/ThyristorBridge2Pulse_RLV_Characteristic.mo
  ModelicaTest/Electrical/PowerConverters/Examples/ACDC/RectifierBridge2mPulse/ThyristorBridge2mPulse_DC_Drive.mo
  ModelicaTest/Electrical/PowerConverters/Examples/ACDC/RectifierBridge2mPulse/ThyristorBridge2mPulse_RLV_Characteristic.mo
  ModelicaTest/Electrical/PowerConverters/Examples/ACDC/RectifierCenterTap2Pulse/ThyristorCenterTap2Pulse_RLV_Characteristic.mo
  ModelicaTest/Electrical/PowerConverters/Examples/ACDC/RectifierCenterTap2mPulse/ThyristorCenterTap2mPulse_RLV_Characteristic.mo
  ModelicaTest/Electrical/PowerConverters/Examples/ACDC/RectifierCenterTapmPulse/ThyristorCenterTapmPulse_RLV_Characteristic.mo
  ModelicaTest/Electrical/PowerConverters/Examples/DCDC/HBridge/HBridge_DC_Drive.mo
Labels: L: ModelicaTest

Adapt Testcase annotation according to consensus in MAPLIB meeting on May-12th-2026
  ModelicaTest/Magnetic/QuasiStatic/FundamentalWave/Examples/BasicMachines/InductionMachines/IMC_Conveyor.mo
  ModelicaTest/Magnetic/QuasiStatic/FundamentalWave/Examples/BasicMachines/InductionMachines/IMC_Initialize.mo
  ModelicaTest/Magnetic/QuasiStatic/FundamentalWave/Examples/BasicMachines/InductionMachines/IMC_Transformer.mo
  ModelicaTest/Magnetic/QuasiStatic/FundamentalWave/Examples/BasicMachines/InductionMachines/IMC_YD.mo
  ModelicaTest/Magnetic/QuasiStatic/FundamentalWave/Examples/BasicMachines/SynchronousMachines/SMEE_Generator.mo
  ModelicaTest/Magnetic/QuasiStatic/FundamentalWave/Examples/BasicMachines/SynchronousMachines/SMPM_CurrentSource.mo
Labels: L: ModelicaTest

Prepare CI of Electrical.Machines
  Modelica/Electrical/Machines/Examples/DCMachines/DCPM_Cooling.mo
  Modelica/Electrical/Machines/Examples/InductionMachines/IMC_Conveyor.mo
  Modelica/Resources/Reference/Modelica/Electrical/Machines/Examples/DCMachines/DCPM_Cooling/comparisonSignals.txt
  Modelica/Resources/Reference/Modelica/Electrical/Machines/Examples/InductionMachines/IMC_Conveyor/comparisonSignals.txt
  Modelica/Resources/Reference/Modelica/Electrical/Machines/Examples/InductionMachines/IMC_DCBraking/comparisonSignals.txt
  Modelica/Resources/Reference/Modelica/Electrical/Machines/Examples/InductionMachines/IMC_InverterDrive/comparisonSignals.txt
  Modelica/Resources/Reference/Modelica/Electrical/Machines/Examples/InductionMachines/IMC_Transformer/comparisonSignals.txt
  Modelica/Resources/Reference/Modelica/Electrical/Machines/Examples/InductionMachines/IMC_YDarc/comparisonSignals.txt
  Modelica/Resources/Reference/Modelica/Electrical/Machines/Examples/InductionMachines/IMC_withLosses/comparisonSignals.txt
  Modelica/Resources/Reference/Modelica/Electrical/Machines/Examples/SynchronousMachines/SMEE_DOL/comparisonSignals.txt
  Modelica/Resources/Reference/Modelica/Electrical/Machines/Examples/SynchronousMachines/SMEE_LoadDump/comparisonSignals.txt
  Modelica/Resources/Reference/Modelica/Electrical/Machines/Examples/Transformers/IMC_Transformer/comparisonSignals.txt
  ModelicaTest/Electrical/Machines.mo
  ModelicaTest/Resources/Reference/ModelicaTest/Electrical/Machines/Examples/DCMachines/DCPM_Cooling/comparisonSignals.txt
  ModelicaTest/Resources/Reference/ModelicaTest/Electrical/Machines/Examples/InductionMachines/IMC_Conveyor/comparisonSignals.txt
  ModelicaTest/Resources/Reference/ModelicaTest/Electrical/Machines/Examples/InductionMachines/IMC_DCBraking/comparisonSignals.txt
  ModelicaTest/Resources/Reference/ModelicaTest/Electrical/Machines/Examples/InductionMachines/IMC_InverterDrive/comparisonSignals.txt
  ModelicaTest/Resources/Reference/ModelicaTest/Electrical/Machines/Examples/InductionMachines/IMC_Transformer/comparisonSignals.txt
  ModelicaTest/Resources/Reference/ModelicaTest/Electrical/Machines/Examples/InductionMachines/IMC_YDarc/comparisonSignals.txt
  ModelicaTest/Resources/Reference/ModelicaTest/Electrical/Machines/Examples/InductionMachines/IMC_withLosses/comparisonSignals.txt
  ModelicaTest/Resources/Reference/ModelicaTest/Electrical/Machines/Examples/SynchronousMachines/SMEE_DOL/comparisonSignals.txt
  ModelicaTest/Resources/Reference/ModelicaTest/Electrical/Machines/Examples/SynchronousMachines/SMEE_LoadDump/comparisonSignals.txt
Labels: L: ModelicaTest

Directory Structure for ModelicaTest/Electrical/Machines
  ModelicaTest/Electrical/Machines.mo
  ModelicaTest/Electrical/Machines/DCPM_CurrentControlled.mo
  ModelicaTest/Electrical/Machines/DCPM_SpeedControlled.mo
  ModelicaTest/Electrical/Machines/DCPM_Utilities.mo
  ModelicaTest/Electrical/Machines/Examples/DCMachines/DCPM_Cooling.mo
  ModelicaTest/Electrical/Machines/Examples/DCMachines/package.mo
  ModelicaTest/Electrical/Machines/Examples/DCMachines/package.order
  ModelicaTest/Electrical/Machines/Examples/InductionMachines/IMC_Conveyor.mo
  ModelicaTest/Electrical/Machines/Examples/InductionMachines/IMC_DCBraking.mo
  ModelicaTest/Electrical/Machines/Examples/InductionMachines/IMC_InverterDrive.mo
  ModelicaTest/Electrical/Machines/Examples/InductionMachines/IMC_Transformer.mo
  ModelicaTest/Electrical/Machines/Examples/InductionMachines/IMC_YDarc.mo
  ModelicaTest/Electrical/Machines/Examples/InductionMachines/IMC_withLosses.mo
  ModelicaTest/Electrical/Machines/Examples/InductionMachines/package.mo
  ModelicaTest/Electrical/Machines/Examples/InductionMachines/package.order
  ModelicaTest/Electrical/Machines/Examples/SynchronousMachines/SMEE_DOL.mo
  ModelicaTest/Electrical/Machines/Examples/SynchronousMachines/SMEE_LoadDump.mo
  ModelicaTest/Electrical/Machines/Examples/SynchronousMachines/package.mo
  ModelicaTest/Electrical/Machines/Examples/SynchronousMachines/package.order
  ModelicaTest/Electrical/Machines/Examples/package.mo
  ModelicaTest/Electrical/Machines/Examples/package.order
  ModelicaTest/Electrical/Machines/SMPM_VoltageSourceWithLosses.mo
  ModelicaTest/Electrical/Machines/package.mo
  ModelicaTest/Electrical/Machines/package.order
Labels: L: ModelicaTest

cropped ComparisonSignals
  Modelica/Resources/Reference/Modelica/Magnetic/FundamentalWave/Examples/BasicMachines/InductionMachines/ComparisonPolyphase/IMC_DOL_Polyphase/comparisonSignals.txt
  Modelica/Resources/Reference/Modelica/Magnetic/FundamentalWave/Examples/BasicMachines/InductionMachines/ComparisonPolyphase/IMS_Start_Polyphase/comparisonSignals.txt
  Modelica/Resources/Reference/Modelica/Magnetic/FundamentalWave/Examples/BasicMachines/InductionMachines/IMC_Conveyor/comparisonSignals.txt
  Modelica/Resources/Reference/Modelica/Magnetic/FundamentalWave/Examples/BasicMachines/InductionMachines/IMC_Transformer/comparisonSignals.txt
  Modelica/Resources/Reference/Modelica/Magnetic/FundamentalWave/Examples/BasicMachines/InductionMachines/IMC_withLosses/comparisonSignals.txt
  Modelica/Resources/Reference/Modelica/Magnetic/FundamentalWave/Examples/BasicMachines/InductionMachines/IMS_Start/comparisonSignals.txt
  Modelica/Resources/Reference/Modelica/Magnetic/FundamentalWave/Examples/BasicMachines/SynchronousMachines/ComparisonPolyphase/SMEE_Generator_Polyphase/comparisonSignals.txt
  Modelica/Resources/Reference/Modelica/Magnetic/FundamentalWave/Examples/BasicMachines/SynchronousMachines/ComparisonPolyphase/SMPM_Inverter_Polyphase/comparisonSignals.txt
  Modelica/Resources/Reference/Modelica/Magnetic/FundamentalWave/Examples/BasicMachines/SynchronousMachines/ComparisonPolyphase/SMR_Inverter_Polyphase/comparisonSignals.txt
  Modelica/Resources/Reference/Modelica/Magnetic/FundamentalWave/Examples/BasicMachines/SynchronousMachines/SMEE_DOL/comparisonSignals.txt
  Modelica/Resources/Reference/Modelica/Magnetic/FundamentalWave/Examples/BasicMachines/SynchronousMachines/SMEE_Generator/comparisonSignals.txt
  Modelica/Resources/Reference/Modelica/Magnetic/FundamentalWave/Examples/BasicMachines/SynchronousMachines/SMEE_LoadDump/comparisonSignals.txt
  Modelica/Resources/Reference/Modelica/Magnetic/FundamentalWave/Examples/BasicMachines/SynchronousMachines/SMPM_Inverter/comparisonSignals.txt
  Modelica/Resources/Reference/Modelica/Magnetic/FundamentalWave/Examples/BasicMachines/SynchronousMachines/SMR_Inverter/comparisonSignals.txt
Labels: none

longer interval for Conveyor-example; to do: ComparisonWindow
  Modelica/Magnetic/FundamentalWave/Examples/BasicMachines/InductionMachines/IMC_Conveyor.mo
  ModelicaTest/Magnetic/FundamentalWave/Examples/BasicMachines/InductionMachines/IMC_Conveyor.mo
Labels: L: Magnetic.FundamentalWave, L: ModelicaTest

define ComparisonWindow for 5 Examples (9 alreday prepared but still to do)
  ModelicaTest/Magnetic/FundamentalWave/Examples/BasicMachines/InductionMachines/IMC_Conveyor.mo
  ModelicaTest/Magnetic/FundamentalWave/Examples/BasicMachines/InductionMachines/IMC_Transformer.mo
  ModelicaTest/Magnetic/FundamentalWave/Examples/BasicMachines/InductionMachines/IMC_withLosses.mo
  ModelicaTest/Magnetic/FundamentalWave/Examples/BasicMachines/SynchronousMachines/SMEE_DOL.mo
  ModelicaTest/Magnetic/FundamentalWave/Examples/BasicMachines/SynchronousMachines/SMEE_LoadDump.mo
Labels: L: ModelicaTest

finished the last 9 examples resp. thier ComparisonWindow
  ModelicaTest/Magnetic/FundamentalWave/Examples/BasicMachines/InductionMachines/ComparisonPolyphase/IMC_DOL_Polyphase.mo
  ModelicaTest/Magnetic/FundamentalWave/Examples/BasicMachines/InductionMachines/ComparisonPolyphase/IMS_Start_Polyphase.mo
  ModelicaTest/Magnetic/FundamentalWave/Examples/BasicMachines/InductionMachines/IMS_Start.mo
  ModelicaTest/Magnetic/FundamentalWave/Examples/BasicMachines/SynchronousMachines/ComparisonPolyphase/SMEE_Generator_Polyphase.mo
  ModelicaTest/Magnetic/FundamentalWave/Examples/BasicMachines/SynchronousMachines/ComparisonPolyphase/SMPM_Inverter_Polyphase.mo
  ModelicaTest/Magnetic/FundamentalWave/Examples/BasicMachines/SynchronousMachines/ComparisonPolyphase/SMR_Inverter_Polyphase.mo
  ModelicaTest/Magnetic/FundamentalWave/Examples/BasicMachines/SynchronousMachines/SMEE_Generator.mo
  ModelicaTest/Magnetic/FundamentalWave/Examples/BasicMachines/SynchronousMachines/SMPM_Inverter.mo
  ModelicaTest/Magnetic/FundamentalWave/Examples/BasicMachines/SynchronousMachines/SMR_Inverter.mo
Labels: L: ModelicaTest

Update ModelicaTest/package.mo
  ModelicaTest/package.mo
Labels: L: ModelicaTest

added compariosnSignals
  Modelica/Resources/Reference/Modelica/Magnetic/FluxTubes/Examples/BasicExamples/CompareCharacteristics/comparisonSignals.txt
  Modelica/Resources/Reference/Modelica/Magnetic/FluxTubes/Examples/BasicExamples/CompareModels/comparisonSignals.txt
  Modelica/Resources/Reference/Modelica/Magnetic/FluxTubes/Examples/BasicExamples/EIcore/comparisonSignals.txt
  Modelica/Resources/Reference/Modelica/Magnetic/FluxTubes/Examples/BasicExamples/ShowMaterial/comparisonSignals.txt
Labels: none

fixed html bugs
  Modelica/Magnetic/FluxTubes/Material/SoftMagnetic/SSEE/package.mo
Labels: L: Magnetic.FluxTubes

fixed html bug
  Modelica/Magnetic/FluxTubes/UsersGuide/Approximation.mo
Labels: L: Magnetic.FluxTubes

put meaningful data in BaseData record
  Modelica/Magnetic/FluxTubes/Material/SoftMagnetic/SSEE/BaseData.mo
Labels: L: Magnetic.FluxTubes

small enhancements of documentation
  Modelica/Magnetic/FluxTubes/Material/SoftMagnetic/SSEE/M270_50A.mo
  Modelica/Magnetic/FluxTubes/Material/SoftMagnetic/SSEE/M310_50A.mo
  Modelica/Magnetic/FluxTubes/Material/SoftMagnetic/SSEE/M330_50A.mo
  Modelica/Magnetic/FluxTubes/Material/SoftMagnetic/SSEE/M350_50A.mo
  Modelica/Magnetic/FluxTubes/Material/SoftMagnetic/SSEE/M400_50A.mo
  Modelica/Magnetic/FluxTubes/Material/SoftMagnetic/SSEE/M470_50A.mo
  Modelica/Magnetic/FluxTubes/Material/SoftMagnetic/SSEE/M530_50A.mo
  Modelica/Magnetic/FluxTubes/Material/SoftMagnetic/SSEE/M600_50A.mo
  Modelica/Magnetic/FluxTubes/Material/SoftMagnetic/SSEE/M700_50A.mo
  Modelica/Magnetic/FluxTubes/Material/SoftMagnetic/SSEE/M800_50A.mo
  Modelica/Magnetic/FluxTubes/UsersGuide/Contact.mo
Labels: L: Magnetic.FluxTubes

added (artificial but realistic) CastIron as BaseData to SSEE
  Modelica/Magnetic/FluxTubes/Material/SoftMagnetic/SSEE/BaseData.mo
  Modelica/Magnetic/FluxTubes/Material/SoftMagnetic/SSEE/CastIron.mo
  Modelica/Magnetic/FluxTubes/Material/SoftMagnetic/SSEE/package.order
Labels: L: Magnetic.FluxTubes

corrected misleading naming in internal functions
  Modelica/Magnetic/FluxTubes/Material/SoftMagnetic/SSEE/Functions/Internal/app_J_SS.mo
  Modelica/Magnetic/FluxTubes/Material/SoftMagnetic/SSEE/Functions/Internal/app_chi_d_EE.mo
  Modelica/Magnetic/FluxTubes/Material/SoftMagnetic/SSEE/Functions/Internal/app_chi_d_SS.mo
  Modelica/Magnetic/FluxTubes/Material/SoftMagnetic/SSEE/Functions/der_J.mo
Labels: L: Magnetic.FluxTubes

improved documentation
  Modelica/Magnetic/FluxTubes/UsersGuide/ParameterFit.mo
Labels: L: Magnetic.FluxTubes

corrected link in documentation
  Modelica/Magnetic/FluxTubes/UsersGuide/ParameterFit.mo
Labels: L: Magnetic.FluxTubes

added a function app_mu_r(inline)
  Modelica/Magnetic/FluxTubes/Material/SoftMagnetic/SSEE/Functions/Internal/app_J_SS.mo
  Modelica/Magnetic/FluxTubes/Material/SoftMagnetic/SSEE/Functions/Internal/app_chi_d_SS.mo
  Modelica/Magnetic/FluxTubes/Material/SoftMagnetic/SSEE/Functions/Internal/package.order
  Modelica/Magnetic/FluxTubes/Material/SoftMagnetic/app_mu_r.mo
  Modelica/Magnetic/FluxTubes/Material/SoftMagnetic/package.order
  Modelica/Magnetic/FluxTubes/Utilities/getInterval.mo
  Modelica/Magnetic/FluxTubes/Utilities/package.order
Labels: L: Magnetic.FluxTubes

an enumeration should not have the same name as a SI-Unit
  Modelica/Magnetic/FluxTubes/BaseClasses/FixedShape.mo
  Modelica/Magnetic/FluxTubes/Examples/BasicExamples/CompareModels.mo
  Modelica/Magnetic/FluxTubes/Examples/BasicExamples/EIcore.mo
  Modelica/Magnetic/FluxTubes/Examples/BasicExamples/ShowMaterial.mo
  Modelica/Magnetic/FluxTubes/Material/SoftMagnetic/MaterialSettings.mo
  Modelica/Magnetic/FluxTubes/Material/SoftMagnetic/SSEE/Functions/Internal/app_J_SS.mo
  Modelica/Magnetic/FluxTubes/Material/SoftMagnetic/SSEE/Functions/Internal/app_chi_d_SS.mo
  Modelica/Magnetic/FluxTubes/Material/SoftMagnetic/SSEE/Functions/Internal/getInterval.mo
  Modelica/Magnetic/FluxTubes/Material/SoftMagnetic/SSEE/Functions/Internal/package.order
  Modelica/Magnetic/FluxTubes/Types/MagType.mo
  Modelica/Magnetic/FluxTubes/Types/package.order
  Modelica/Magnetic/FluxTubes/Utilities/package.order
Labels: L: Magnetic.FluxTubes

increased robustness of SSEE-functions
  Modelica/Magnetic/FluxTubes/Material/SoftMagnetic/SSEE/Functions/Internal/app_J_EE.mo
  Modelica/Magnetic/FluxTubes/Material/SoftMagnetic/SSEE/Functions/Internal/app_J_SS.mo
  Modelica/Magnetic/FluxTubes/Material/SoftMagnetic/SSEE/Functions/Internal/app_chi_d_EE.mo
  Modelica/Magnetic/FluxTubes/Material/SoftMagnetic/SSEE/Functions/Internal/app_chi_d_SS.mo
  Modelica/Magnetic/FluxTubes/Material/SoftMagnetic/SSEE/Functions/Internal/findInterval.mo
  Modelica/Magnetic/FluxTubes/Material/SoftMagnetic/SSEE/Functions/Internal/package.order
  Modelica/Magnetic/FluxTubes/Material/SoftMagnetic/SSEE/Functions/app_J.mo
  Modelica/Magnetic/FluxTubes/Material/SoftMagnetic/SSEE/Functions/app_mu_r.mo
  Modelica/Magnetic/FluxTubes/Material/SoftMagnetic/SSEE/Functions/app_mu_rd.mo
  Modelica/Magnetic/FluxTubes/Material/SoftMagnetic/SSEE/Functions/der_J.mo
  Modelica/Magnetic/FluxTubes/Material/SoftMagnetic/SSEE/Functions/der_mu_r.mo
  Modelica/Magnetic/FluxTubes/Material/SoftMagnetic/SSEE/Functions/makeTable.mo
Labels: L: Magnetic.FluxTubes

Update Modelica/Magnetic/FluxTubes/BaseClasses/FixedShape.mo
  Modelica/Magnetic/FluxTubes/BaseClasses/FixedShape.mo
Labels: L: Magnetic.FluxTubes

following HansOlsson's advice
  Modelica/Magnetic/FluxTubes/BaseClasses/FixedShape.mo
  Modelica/Magnetic/FluxTubes/Material/SoftMagnetic/MaterialSettings.mo
Labels: L: Magnetic.FluxTubes

implemented quadrature{Trapezoidal, Simson}
  Modelica/Math/Nonlinear.mo
  Modelica/Resources/Reference/Modelica/Math/Nonlinear/Examples/MovingIntegral/comparisonSignals.txt
Labels: L: Math

fix html bug
  Modelica/Math/Nonlinear.mo
Labels: L: Math

small enhancement: first 4 closed Newton-Cotes formulas in 1 function
  Modelica/Math/Nonlinear.mo
  Modelica/Resources/Reference/Modelica/Math/Nonlinear/Examples/MovingIntegral/comparisonSignals.txt
Labels: L: Math

fix a html-typo
  Modelica/Math/Nonlinear.mo
Labels: L: Math

it seems that I forgot to delete the old version of the quadrature function
  Modelica/Math/Nonlinear.mo
Labels: L: Math

increased robustness, comparison with analytical value
  Modelica/Math/Nonlinear.mo
Labels: L: Math

clarification and enhancement (reduced number of function calls)
  Modelica/Math/Nonlinear.mo
Labels: L: Math

bugfix
  Modelica/Math/Nonlinear.mo
Labels: L: Math
